.listingScreenContainer {
    .listContentView {
        .topBar {
            display: flex;
            justify-content: space-between;
            background: rgb(105, 239, 79);
            padding: 20px;
            position: fixed;
            right: 0;
            left: 0;
            top: 0px;
            .addLogout {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    .tableContainer {
        padding: 20px;
        margin-top: 3rem;
        .editDelete {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.ant-modal-content {
    border: 2px solid #8b8bbe !important;
    padding: 20px 33px;
    border-radius: 10px;

}

@media screen and (max-width: 600px) {
    .ant-modal-content {
        border: 2px solid #8b8bbe !important;
        padding: 30px 33px;
        border-radius: 10px;
    }
}

.ConfirmationUserPopUp {
    .addEditContainer {
        .fieldTitle {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
            color: grey;
            margin: 10px 0px;
        }
    }

}
